body {
  font: 20px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
a{
  color: #333333;
  text-decoration: none;
}
.list{
  border: 8px solid rgb(104, 138, 177);
  float: left;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  width: 320px;

}
.back {
  background: rgb(255, 255, 255);
  border: 1px solid #999;
  float: left;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  height: 47px;
  margin-right: 2px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 130px;
}
.category {
  background: rgb(244, 245, 194);
  border: 1px solid #999;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 220px;
}
.card {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  height: 30px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 300px;
}
.delete{
  background: #fff;
  border: 1px solid #999;
  margin-left: 0px;
  margin-top: -1px;
  display: flex;
  height: 30px;
  width: 30px;
  line-height:10px;
  font-weight: bold;
  text-align: center;
}
.cardclass{
 
  display: flex;
 
}
.card:focus {
  outline: none;
}
.AddCard{
  background: #fff;
  border: 1px solid #999;
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin-left: 44.5%;
  margin-top: auto;
  padding: 0;
  text-align: center;
 
}
.AddCard:focus {
  outline: none;
}
.AddList{
  background: #fff;
  border: 1px solid #999;
  font-size: 22px;
  font-weight: normal;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin-left: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
 
}
.kbd-navigation .card:focus {
  background: #ddd;
}

.home {
  display:flexbox;
  flex-direction: row;
}
